<launch>
  <rosparam command="load" file="$(find gypsy)/config/gypsy.yaml" />
  
  # Run in simulation mode
  <arg name="simulation" default="false" />
    
  <node name="vel" pkg="rostopic" type="rostopic"
    args="pub -r 10 /cmd_vel geometry_msgs/Twist -- '[0.5, 0, 0]' '[0, 0, 0]'" />

  # Include the startup for the base
  <include file="$(find gypsy)/launch/gypsy_base.launch">
    <arg name="simulation" value="$(arg simulation)" />
  </include>

</launch>
