<launch>
  <!-- Run in simulation mode -->
  <arg name="simulation" default="false" />

  <node name="enable_pid" pkg="rostopic" type="rostopic" 
    args="pub -r 10 /pid_enable std_msgs/Bool -- 'true'" />

  <group ns="drive">
    <node name="drive_pid" pkg="pid" type="controller" >
      <rosparam command="load" file="$(find gypsy)/config/gypsy_drive_pid.yaml" />
      <param name="pid_enable_topic" value="/pid_enable" />
    </node>

    <node name="drive_cmd_transform" pkg="topic_tools" type="transform"
      args="/cmd_vel/linear/x setpoint std_msgs/Float64 'm'" />

    <node name="drive_plant_transform" pkg="topic_tools" type="transform"
      args="/odom/twist/twist/linear/x state std_msgs/Float64 'm'" />
  </group>

  <group ns="turn">
    <node name="turn_pid" pkg="pid" type="controller">
      <rosparam command="load" file="$(find gypsy)/config/gypsy_turn_pid.yaml" />
      <param name="pid_enable_topic" value="/pid_enable" />
    </node>

    <node name="turn_cmd_transform" pkg="topic_tools" type="transform"
      args="/cmd_vel/angular/z setpoint std_msgs/Float64 'm'" />

    <node name="turn_plant_transform" pkg="topic_tools" type="transform"
      args="/odom/twist/twist/angular/z state std_msgs/Float64 'm'" />
  </group>
  
  <!-- Run the Sabertooth Drive if not in simulation mode -->
  <node name="sabertooth_driver" pkg="sabertooth_driver" type="sabertooth_driver_node" unless="$(arg simulation)" >
    <rosparam command="load" file="$(find gypsy)/config/sabertooth.yaml" />
    <param name="mixed_mode" value="true" />
    <param name="drive_topic" value="/drive/control_effort" />
    <param name="turn_topic" value="/turn/control_effort" />
  </node>

  <!-- Run the Gypsy odometry publisher if not in simulation mode -->
  <node name="gypsy_odometry" pkg="gypsy_odometry" type="gypsy_odometry_node" unless="$(arg simulation)" >
    <rosparam command="load" file="$(find gypsy)/config/gypsy_base.yaml" />
  </node>

  <!-- Run the Gypsy base simulator if in simulation mode -->
  <node name="gypsy_simulator" pkg="gypsy_simulator" type="gypsy_simulator_node" if="$(arg simulation)" output="screen">
    <rosparam command="load" file="$(find gypsy)/config/gypsy_base.yaml" />
    <param name="drive_topic" value="/drive/control_effort" />
    <param name="turn_topic" value="/turn/control_effort" />
  </node>

</launch>
